* {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.logo {
    display: inline-block;
    float: left;
}

.navbar {
    align: center;
    background-color: #F3E378;
    width: 100%;
    text-align: center;
}

.navbar-light {
    color: black;
}

a.nav-link {
    color: black;
    size: 1em;
}

.quote {
    text-align: center;
    display: inline-block;
    padding-top: 20px;
    font-style: italic;
}

.bar {
    height: 300px;
}

.hours {
    text-align: center;
}

.current {
    display: inline-block;
}

.current-burger {
    height: 380px;
}

.top {
    display: inline-block;
}

footer {
    background-color: #F3E378;
}

footer p {
    display: inline-block;
}

.social {
    height: 50px;
    width: 50px;
    margin: 20px;
}

.feedback {
    text-align: center;
}

.card-img-top {
    height: 200px;
}

.card-body {
    text-align: center;
}